/* Style Element Tags */

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  text-align: center;
  background: #777;
  width: 960px;
}

header,
nav,
footer {
  background: #ebebeb;
  padding: 20px;
  margin: 10px 30px;
}

section {
  background: white;
  padding: 20px;
  margin: 0 30px;
  width: 495px;
  overflow: auto;
  clear: both;
}

.main::after {
  content: "";
  display: block;
  clear: both;
}

aside {
  background: white;
  float: right;
  width: 40%;
  height: auto;
  padding: 20px;
  margin: 0 30px;
}

article {
  background: #ebebeb;
  float: left;
  padding: 20px;
  width: 100%;
}

/* Style Classes */
.container {}

.main {}


/* Style IDs */
#h2 {
  color: #ebebeb;
  background: #777;
  padding: 10px;
  margin: 5px;
}

#p {
  color: #ebebeb;
  background: #777;
  padding: 10px;
  margin: 5px;
}